.label-card {
  opacity: 1;
}

.label-card-main-image {
  border-radius: 50%;
}

/*I like the idea of the record stopping when you mouse over it as an Easter egg*/  
.label-overlay:hover .label-card-main-image img {
  animation-play-state: paused;
}

@media (min-width: 640px) {  
  .label-overlay {
    transition: all var(--label-box-transition-duration, 0) cubic-bezier(0.445, 0.05, 0.55, 0.95);
    opacity: 0;
  }
  
  .label-overlay-parent .label-overlay:hover {
    opacity: 1;
  }
  
  .label-card-main-image {
    border-radius: 50%;
    filter: blur(0rem);
  
    transition: all var(--label-box-transition-duration, 0) cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  
  .label-overlay-parent:hover .label-card-main-image {
    @apply -mt-1;
  
    @apply w-60;
    @apply h-60;
    border-radius: 0%;
    filter: blur(0.2rem);
  }
  
  .label-card .main-text {
    transition: all linear calc(var(--label-box-transition-duration, 0) / 2);
    opacity: 1;
  }
  
  .label-overlay-parent:hover .main-text {
    opacity: 0;
  }
    
}
